{# Enum template - handles both simple enums and enums with methods #}
{% set values_union = enum.values | map(attribute='value') | map("tojson") | join(' | ') %}
{% if enum.methods|length > 0 %}
export namespace {{ enum.name }} {
  {% for value in enum.values %}
  export const {{ value.const_name }}: '{{ value.value }}' = '{{ value.value }}';
  {% endfor %}
  {% for method in enum.methods %}
    {{ method.generate() }}
  {% endfor %}
  }
  export type {{ enum.name }}Value = {{ values_union }};
{% else %}
export type {{ enum.name }} = {{ values_union }};
{% endif %}
