{# GstIterator template - handles GstIterator with AsyncIterable interface #}
export class {{ name }}{% if parent_class %} extends {{ parent_class }}{% endif %} implements AsyncIterable<GObjectObject> {
{% if has_destructor %}
  ptr!: string;
  
  constructor(ptr?: string) {
    if (ptr) {
      this.ptr = ptr;
      {{ destructor_registry }}.register(this, ptr);
    }
  }
{% endif %}

  // Implement AsyncIterable interface
  [Symbol.asyncIterator](): AsyncIterator<GObjectObject, any, any> {
    let value: GObjectValue | null = null;
    
    return {
      next: async (): Promise<IteratorResult<GObjectObject>> => {
        // Initialize value lazily on first call
        if (!value) {
          value = await GObjectValue.new();
        }
        
        while (true) {
          await value.unset();
          const res = await this.next(value);
          
          switch (res) {
            case GstIteratorResult.DONE:
              return { done: true, value: undefined };
              
            case GstIteratorResult.OK:
              // Get the current value and return it
              const obj = await value.get_object();
              return { done: false, value: obj };
              
            case GstIteratorResult.RESYNC:
              // Iterator was modified, resync and continue
              await this.resync();
              break;
              
            case GstIteratorResult.ERROR:
              throw new Error('Iterator error');
          }
        }
      }
    };
  }
{% if constructors %}
{{ constructors | join('\n') }}
{% endif %}

{% if methods %}
{{ methods | join('\n') }}
{% endif %}
}
