{# Custom template for GLib.SList.put_next method to set the container type for type safety #}
{% extends "method.ts.j2" %}
{% block signature %}
	async put_next(value_: GLibSList<T>): Promise<void> {
{% endblock %}
