{# Method template #}
{% set required_params = [] %}
{% set optional_params = [] %}
{% set callback_params = [] %}
{% for param in method.query_params %}
  {% set ts_type = param.type.lang_type %}
  {% if param.required %}
    {% set _ = required_params.append(param.valid_name + ": " + ts_type) %}
  {% else %}
    {% set _ = optional_params.append(param.valid_name + "?: " + ts_type) %}
  {% endif %}
{% endfor %}

{# Add callback parameters from return parameters that are callbacks #}
{% if method.return_obj.return_params %}
  {% for return_param in method.return_obj.return_params %}
    {% if return_param.is_callback %}
      {% set _ = callback_params.append(return_param.valid_name + ": " + return_param.callback.name) %}
    {% endif %}
  {% endfor %}
{% endif %}

{% set all_params = required_params + callback_params + optional_params %}
{% set params_string = all_params | join(", ") %}

{# Generate method return signature based on return_params #}
{% set method_return_signature = 'void' %}
{% if method.return_obj.return_params %}
  {% if method.return_obj.return_params|length == 1 %}
    {% set method_return_signature = method.return_obj.return_params[0].type.lang_type %}
  {% else %}
    {% set return_type_parts = [] %}
    {% for return_param in method.return_obj.return_params %}
      {% set _ = return_type_parts.append(return_param.name + ": " + return_param.type.lang_type) %}
    {% endfor %}
    {% set method_return_signature = "{" + return_type_parts | join(", ") + "}" %}
  {% endif %}
{% endif %}

{% set ns = namespace(method_path = method.path) %}
{% for param in method.path_params %}
  {% set placeholder = "{" + param.valid_name + "}" %}
  {% if param.type.is_ref and param.type.ref_schema.info_type in ['object','struct'] %}
    {% set ns.method_path = ns.method_path.replace(placeholder, "ptr,${this.ptr}") %}
  {% else %}
    {% set ns.method_path = ns.method_path.replace(placeholder, "${" + param.valid_name + "}") %}
  {% endif %}
{% endfor %}


{% block signature %} 
{% if method.is_namespace_function or (method.parent.info_type in ['enum','flags'] and method.parent.methods|length > 0) %}
  export async function {{ method.valid_name }}({{ params_string }}): Promise<{{ method_return_signature }}> {
{% elif method.is_static %}
  static async {{ method.valid_name }}({{ params_string }}): Promise<{{ method_return_signature }}> {
{% else %}
  async {{ method.valid_name }}({{ params_string }}): Promise<{{ method_return_signature }}> {
{% endif %}
{% endblock %}
{% block body %}
    // Increment ref for parameters with full transfer ownership
{% for param in method.query_params %}
{% include 'param_precondition.ts.j2' %}
{% endfor %}
    const url = new URL(`${apiConfig.normalizedBasePath}{{ ns.method_path }}`, apiConfig.baseUrl);
{% for param in method.query_params %}
{% include 'param.ts.j2' %}
{% endfor %}
    try {
      const response = await fetch(url.toString());
      if (!response.ok) {
        // If the call fails, unref the objects we ref'd
{% for param in method.query_params %}
{% include 'param_postcondition.ts.j2' %}
{% endfor %}
        throw new Error(`HTTP error! status: ${response.status}`);
      }
{% if not method.return_obj.is_void or method.callback_params %}
      const data = await response.json();
{% if method.callback_params %}
      // Register callbacks
{% for cb in method.callback_params %}
      if (data.{{ cb.name }} !== undefined) {
        callbackDispatcher.set(data.{{ cb.name }}.toString(), {{ cb.valid_name }});
      }
{% endfor %}
{% endif %}
{% if not method.return_obj.is_void %}
  {{ method.return_obj.generate() }}
{% else %}
      return data;
{% endif %}
{% endif %}
    } catch (error) {
      // If there's an error, unref the objects we ref'd
{% for param in method.query_params %}
{% include 'param_postcondition.ts.j2' %}
{% endfor %}
      throw error;
    }
  }
{% endblock %}
