{# Custom template for GLib.List.get_next method to set the container type for type safety #}
{% extends "method.ts.j2" %}
{% block signature %}
  async get_next(): Promise<GLibList<T> | null> {
{% endblock %}
