{# GObjectObject template - specific template for GObject.Object class #}
{% extends "object.ts.j2" %}

{% block signature %}
export class GObjectObject extends GObjectTypeInstance {
{% endblock %}

{% block methods %}
{{ super() }}
{% endblock %}
