      // Return value is an object, instantiate it from the ptr
      if (data.return && typeof data.return === 'object' && 'ptr' in data.return) {
        // If transfer is "full", pass false (caller doesn't own), otherwise pass true (caller owns)
        const instance = new {{ return.return_param.type.ref_schema.valid_name }}(data.return.ptr, {{ 'false' if return.return_param.transfer == 'full' else 'true' }});
        return instance;
			}
      return Promise.reject("Call failed");
