{% set transferType = return.return_param.transfer %}
{% set head = 'undefined' %}
{% set subType = return.return_param.type.subtype.lang_type %}
{% if return.parent.parent.valid_name == 'GLibList' %}
  {% set transferType = 'none' %}
  {% set subType = 'this.TargetClass' %}
	{% if return.parent.valid_name != 'new' %}
    {% set head = 'this.head' %}
	{% else %}
    {% set subType = 'TargetClass' %}
	{% endif %}
{% endif %}
{# We need to know if the return comes from a method of GList itself, in that case the head is this.head #}
      // Return value is a List, instantiate it from the ptr
      if (data.return && typeof data.return === 'object' && 'ptr' in data.return) {
			  const instance = new {{ return.return_param.type.ref_schema.valid_name }}(data.return.ptr, '{{ transferType }}', {{ subType }}, {{ head }});
        return instance;
      }
      return Promise.reject("Call failed");

