{# Struct template - handles struct types #}

{% block finalization %}
{% set registry_name = struct.name.lower() + 'Registry' %}
// Finalization registry for {{ struct.name }}
const {{ registry_name }} = new FinalizationRegistry((ptr: string) => {
  fetch(apiConfig.fullBaseUrl + '/{{ struct.namespace }}/{{ struct.type_name }}/ptr,' + ptr + '/free')
    .catch(err => console.error('Failed to free {{ struct.name }}:', ptr, err));
});
{% endblock %}

{% block signature %}
export class {{ struct.name }} {
{% endblock %}

{% block properties %}
  ptr!: string;
{% endblock %}

{% block constructors %}
  {% block default_constructor %}
  constructor(ptr: string, transferType: transferType) {
    this.ptr = ptr;
    if (transferType === 'full')
      {{ struct.name.lower() }}Registry.register(this, ptr);
  }
  {% endblock %}
  {% for constructor in struct.constructors %}
    {{ constructor.generate() }}
  {% endfor %}
{% endblock %}

{% block destructors %}
  {% for destructor in struct.destructors %}
      {{ destructor.generate() }}
  {% endfor %}
{% endblock%}

{% block methods %}
{% for method in struct.methods %}
    {{ method.generate() }}
{% endfor %}
{% endblock %}
}
