{% extends "struct.ts.j2" %}

{% block default_constructor %}
protected constructor(ptr: string, transferType: transferType) {
  this.ptr = ptr;
  // Don't register or ref in constructor - use static create() method instead
}

static async create(ptr: string, transferType: transferType): Promise<{{ struct.name }}> {
  const instance = new {{ struct.name }}(ptr, transferType);
  {{ struct.name.lower() }}Registry.register(instance, ptr);
  if (transferType === 'none') {
    await instance.ref();
  }
  return instance;
}
{% endblock %}
