{# Struct template - handles struct types #}
export class {{ name }}{% if parent_class %} extends {{ parent_class }}{% endif %} {
{% if has_destructor %}
  ptr!: string;
  
  constructor(ptr?: string) {
    if (ptr) {
      this.ptr = ptr;
      {{ destructor_registry }}.register(this, ptr);
    }
  }
{% endif %}
{% if constructors %}
{{ constructors | join('\n') }}
{% endif %}

{% if methods %}
{{ methods | join('\n') }}
{% endif %}
}