{% extends "struct.ts.j2" %}

{% block default_constructor %}
constructor(ptr: string, transferType: transferType) {
  this.ptr = ptr;
  {{ struct.name.lower() }}Registry.register(this, ptr);
  if (transferType === 'none') {
    this.ref().catch(() => {});
  }
}
{% endblock %}
